<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark" id="mainNav" style="width: 200px;">
	 <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
		aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
			class="navbar-toggler-icon"></span></button>

	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav navbar-sidenav">

			<a class="nav-link navlogo text-center">
				<img
					src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620">
			</a>

			<li class="nav-item">
				<a class="nav-link sidefrst">
					<span class="textside">  Dashboard</span>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link sidesecnd">
					<span class="textside">  Employee</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link sidesthrd">
					<span class="textside">  Clients</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link sidesforth">
					<span class="textside">  Jobs</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link sidesfifth">
					<span class="textside">  Quotation</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link sidesix">
					<span class="textside">  Services</span>
				</a>
			</li>
		</ul>
	</div>
</nav>
<div class="content-wrapper">
	<div class="container-fluid">
		<div class="row" style="text-align: center;">
			<h4 style="margin: 0 auto;">Welcome to ADMIN DASHBOARD</h4>
		</div>
		<div class="row">

			<!-- Icon Cards-->
			<div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
				<div class="inforide">
					<div class="row">
						<div class="col-lg-3 col-md-4 col-sm-4 col-4 rideone">
							<img
								src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620">
						</div>
						<div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
							<h4>Users</h4>
							<h2>55</h2>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
				<div class="inforide">
					<div class="row">
						<div class="col-lg-3 col-md-4 col-sm-4 col-4 ridetwo">
							<img
								src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620">
						</div>
						<div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
							<h4>Clients</h4>
							<h2>120</h2>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
				<div class="inforide">
					<div class="row">
						<div class="col-lg-3 col-md-4 col-sm-4 col-4 ridethree">
							<img
								src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620">
						</div>
						<div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
							<h4>Jobs</h4>
							<h2>50</h2>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="row">

			<div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
				<div class="inforide">
					<div class="row">
						<div class="col-lg-3 col-md-4 col-sm-4 col-4 ridethree">
							<img
								src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620">
						</div>
						<div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
							<h4>Services</h4>
							<h2>70</h2>
						</div>
					</div>
				</div>
			</div>

			<!-- Icon Cards-->
			<div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
				<div class="inforide">
					<div class="row">
						<div class="col-lg-3 col-md-4 col-sm-4 col-4 rideone">
							<img
								src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620">
						</div>
						<div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
							<h4>Comments</h4>
							<h2>1523</h2>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
				<div class="inforide">
					<div class="row">
						<div class="col-lg-3 col-md-4 col-sm-4 col-4 ridetwo">
							<img
								src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620">
						</div>
						<div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
							<h4>Delivery</h4>
							<h2>80</h2>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>